{% load static %}
<!-- Header -->
<header class="header-v4">
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">

        </div>

        <div class="right-top-bar flex-w h-full">
          <a href="#" class="flex-c-m trans-04 p-lr-25">
            Help & FAQs
          </a>

          <a href="{% url 'show_myaccount' %}" class="flex-c-m trans-04 p-lr-25">
            My Account
          </a>

          <a href="{% url 'logout' %}" class="flex-c-m trans-04 p-lr-25">
            LOGOUT
          </a>

        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">

        <!--                 Logo desktop-->
        <a href="{% url 'userpanel' %}" class="logo">
          <img src="{% static 'userpanel/images/icons/logo-01.png' %}" alt="IMG-LOGO">
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li class=" ">
              <a href="{% url 'userpanel' %}">Home</a>
            </li>

            <li>
              <a href="{% url 'product' %}">Shop</a>
            </li>

            <li>
              <a href="{% url 'about' %}">About</a>
            </li>

            <li>
              <a href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart"
          >
            <a href="{% url 'shoping_cart' %}" class="zmdi zmdi-shopping-cart"></a>
          </div>
        </div>
      </nav>
    </div>
  </div>

</header>